/**
 * CSS for submission timeout module.
 */
.form-submission-timeout-table {
  position: relative;
}

.form-submission-timeout-table tbody td {
  transition: all 0.5s linear;
}

.form-submission-timeout-table tbody td:last-child {
  width: 10%;
}

#start-time,
#end-time,
#session-msg {
  margin-top: 12px;
}

.fst-overlay:before {
  content: "Clicking Remove will delete this entry completely.";
  position: absolute;
  left: 0;
  width: 90.14%;
  padding: 8px 10px;
  margin-top: -8px;
  background: rgba(0,0,0,0.7);
  text-align: center;
  color: #fff;
  transition: all 2s linear;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.fst-input-disabled {
  opacity: 0.35;
}

#fst-countdown {
  position: absolute;
  right: 0;
  padding: 10px;
}

.fst-countdown-seconds-left {
  color: red;
}

.fst-countdown-over {
  font-size: inherit;
  overlay: 1;
  color: #550000;
  font-weight: bold;
}